//
// ------------------------------------------------------------
// SCSS
// ------------------------------------------------------------
//
@import '../common';
/*
  ------------------------------------------------------------
  PHOTO CARD
  ------------------------------------------------------------
*/

.card {
  margin: auto;
  max-width: 30rem;
  text-align: center;
  color: $rgb-primary;
  background-color: $rgb-background;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.card h4, .card small {
  color: $rgb-primary;
  font-size: 200%;
}

.card button {
  background-color: $rgb-primary;
  border: none;
}

.card button:hover {
   background-color: $rgb-primary-lightest;
   border: none;
}

.card ul {
  padding: 0;
}