//
// ------------------------------------------------------------
// SCSS
// ------------------------------------------------------------
//
@import '../common';
/*
  ------------------------------------------------------------
  SOCIAL
  ------------------------------------------------------------
*/
.social {
    font-size: 2em;
}
.social li {
    //display: inline;
    margin: 0.25em;
    align-items: center;
}

.social a {
    color: $rgb-primary;
}
.social a:hover {
    color: $rgb-primary-lightest;
}

.social small {
    margin: 0;
    padding: 0 1em;
    font-size: 50%;
}
