---
import Layout from '@/layouts/Layout.astro';
import SocialItem from '@/components/ui/social.astro';
import React from "react";
---

<Layout>
	<div class="relative text-gray-800 bg-gray-50">
		<div class="h-10">
		</div>
		<section class="px-10">

			<div class="w-full h-full bg-gray-100 px-2 py-2">
				<div class="relative mt-16 mb-32 max-w-lg mx-auto mt-24">

					<div class="rounded overflow-hidden shadow-md bg-white">
						<div class="flex flex-col items-center justify-center text-center h-screen-half">
							<img
								class="object-cover w-40 h-40 sm:w-60 sm:h-60 lg:w-80 lg:h-80 rounded-full my-5 ring-2 ring-gray-500/50 ring-offset-[10px]"
								src="/img/rb-profile-2021.png"
								alt="Roy Bailey"/>
							<h1 class="text-5xl md:text-6xl lg:text-7xl">Roy Bailey</h1>
							<p class="text-center text-gray-400 text-sm md:text-base pt-3 px-3 font-normal italic font-sans">
								30 years experience Software Engineering...
							</p>
							<ul class="list-none text-center text-gray-600 text-base md:text-lg font-normal pt-3 px-3">
								<li>Head of Engineering</li>
								<li>Software Engineering Manager</li>
								<li>Running Remote Engineering Offices</li>
								<li><br /></li>
								<li>Solutions Architect</li>
								<li>Full Stack Developer</li>
								<li>Front End Developer</li>
								<li>API Developer</li>
							</ul>
							<div class="text-center">
							<ul class="list-none flex gap-4 text-center text-gray-600 text-base pt-3 px-3 font-normal">
								<SocialItem link="https://www.linkedin.com/in/roybailey"
											icon='fa-linkedin-square'
											label="LinkedIn Link"/>
								<SocialItem link="https://github.com/roybailey"
											icon='fa-github-square'
											label="GitHub Link"/>
								<SocialItem link="http://twitter.com/roybaileybiz"
											icon='fa-twitter-square'
											label="Twitter Link"/>
							</ul>
							</div>
							<div class="text-center text-base px-3 pb-4 font-normal flex flex-col gap-2">
							<div class="text-sm md:text-base text-gray-400 italic font-sans">Available for fractal work through my company...</div>
							<a href="https://odinium.com" class="font-bold text-current text-lg md:text-2xl underline">Odinium Ltd</a>
							</div>
						</div>
					</div>

				</div>
			</div>

		</section>
		<div class="h-10">
		</div>
	</div>
</Layout>
