/**
 * theme: {
 *        customCss: ['./src/css/_common.scss'],
 *      },
 */


$darkblue-1: #ced6e6;
$darkblue-2: #a4b2cd;
$darkblue-3: #8192b4;
$darkblue-4: #65769b;
$darkblue-5: #4e5e82;
$darkblue-6: #3a4969;
$darkblue-7: #2a3650;
$darkblue-8: #1c2437;
$darkblue-9: #0f131e;
$darkblue-10: #020305;

$rgb-grey: #888888;
$rgb-grey-dark: #333333;
$rgb-grey-light: #DBDBDB;
$rgb-grey-lighter: #F3F3F3;
$rgb-red: #f66f6f;
$rgb-red-dark: #900909;
$rgb-red-light: #f99f9f;
$rgb-green: #87deab;
$rgb-green-dark: #217845;
$rgb-green-light: #b9ecce;
$rgb-yellow: #f39c12;
$rgb-vanilla: #E9D998;

$rgb-background: $darkblue-1;
$rgb-color: $darkblue-10;
$rgb-primary-contrast: $rgb-vanilla;
$rgb-primary: $darkblue-7;
$rgb-primary-dark: $darkblue-8;
$rgb-primary-darkest: $darkblue-9;
$rgb-primary-light: $darkblue-5;
$rgb-primary-lightest: $darkblue-3;
$rgb-secondary: var(--ifm-color-secondary);
$rgb-secondary-lightest: var(--ifm-color-secondary-lightest);
$rgb-secondary-darkest: var(--ifm-color-secondary-darkest);

/* media breakpoints */
$desktop-window: "only screen and (max-width: 960px)";
$android-window: "screen and (max-width: 800px)";
$ipad-window: "screen and (max-width: 768px)";
$kindle-window: "screen and (max-width: 600px)";
$narrow-window: "screen and (max-width: 540px)";
$iphone4-window: "screen and (max-width: 480px)";
$iphone3-window: "screen and (max-width: 320px)";

/* vendor prefixing */
@mixin vendor-prefix($name, $value) {
  // this gets messed up with we reformat
  // @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
  //     #{$vendor}#{$name}: #{$value};
  // }
  -webkit-#{$name}: #{$value};
  -moz-#{$name}: #{$value};
  -ms-#{$name}: #{$value};
  -o-#{$name}: #{$value};
  #{$name}: #{$value};
}

