---
import { Icon } from 'astro-icon/components'

interface Props {
    href: string | undefined;
    title: string;
}

const {
    href,
    title,
    ...rest
} = Astro.props;

---

<div class="break-inside-avoid">
    <h1 class="my-4 text-2xl text-center">{title}</h1>
    <hr/>
    <slot />
</div>
