---
import { getEntry } from 'astro:content';
import Logo from "@/components/ProfileImage.astro";
import ThemeSelect from "@/layouts/ThemeSelect.astro";
const cv = await getEntry('resumes','roybailey');
---

<header class="w-full z-40 sticky print:static top-0 left-0 bg-background shadow-primary dark:shadow-white shadow-b-2 mb-10 px-4 border-b">
	<div class="min-h-20 flex flex-row items-center justify-between">

		<div class="flex-shrink-0">
			<div class="flex flex-col md:flex-row items-center justify-center text-center h-screen-half">
				<img
					class="object-cover w-25 h-25 rounded-full my-5 ring-2 ring-gray-500/50 ring-offset-[10px]"
					src="/img/rb-profile-2021.png"
					alt={cv.data.name}/>
				<div class="flex flex-col">
					<h1 class="text-5xl md:text-7xl lg:text-7xl">Roy Bailey</h1>
					<p class="text-center text-gray-400 text-sm md:text-base pt-3 px-3 font-normal italic font-sans">
						30 years experience Software Engineering...
					</p>
				</div>
			</div>
		</div>
		<div class="flex-1 flex items-end px-8 hidden lg:inline">
			<!-- nothing in center of header -->
		</div>
		<div class="flex-shrink-0 flex flex-row items-center justify-between gap-4 pl-4">
			<div class="flex gap-4 flex-col items-end">
				<div class="flex flex-row items-center italic font-thin">(last updated {cv.data.lastUpdated})<ThemeSelect /></div>
				<div>{cv.data.phone}</div>
				<div>{cv.data.email}</div>
			</div>
		</div>

	</div>
</header>
