---
import Layout from '@/layouts/Layout.astro'
import Header from '@/layouts/Header.astro'
import Footer from '@/layouts/Footer.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<title>Roy Bailey - Resume</title>
	</head>
</html>

<Layout>
	<div class="max-w-3xl m-auto">
		<Header />
		<slot />
		<Footer />
	</div>
</Layout>