---
import {
    Twitter, Linkedin, Github
} from 'lucide-astro'

interface Props {
    href: string;
    icon: string;
    label: string;
    size?: "md" | "lg";
    block?: boolean;
    style?: "outline" | "primary" | "inverted" | "muted";
    class?: string;
    [x: string]: any;
}

const {
    href,
    icon,
    label,
    size = "current",
    variant = "primary",
    class: className,
    ...rest
} = Astro.props;

---

<a href={href} target="_blank" class="text-current" alt={label} aria-label={label}>
    <div class=`flex flex-col items-center sm:flex-row gap-x-1 ${size === "lg"? "text-4xl": "text-current"}`>
        {(icon === "twitter")? (<Twitter />) : (icon === "linkedin")? (<Linkedin />) :(icon === "github")? <Github /> : ""}
        {(variant !== "icon-only" && <span>{href.replace('https://','')}</span>)}
    </div>
</a>
